<template name="projectItem">
  <div class="post">
    <div class="post-content">
      <h3>{{title}}<span>  -  {{description}}</span></h3>
      
      <p>
        {{#if ownProject}}<a href="{{projectEditPath this}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{projectPagePath this}}" class="discuss btn">View Defects</a>
  </div>
  
</template>

<template name="projectItemPage">
  <div class="post">
    <div class="post-content">
      <h3>{{title}}</h3>
      <span>{{description}}</span>
      <p>
        {{#if ownProject}}<a href="{{projectEditPath this}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{postSubmitPath this}}" class="discuss btn">Add Defects</a>
  </div>
  
</template>